/* registration.css */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
}

.container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    width: 50%;
    margin-top: 50px;
    align-items: center; /* Center horizontally */
    justify-content: center; /* Center vertically */
}

h2 {
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}

button:hover {
    background-color: #0056b3;
}

.view-button {
    text-align: right;
    margin-top: 20px;
}

.btn {
    display: inline-block;
    /*background-color: #007BFF;*/
    /*color: #ffffff;*/
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    /*transition: background-color 0.3s ease;*/
}

.btn:hover {
    background-color: #0056b3;
}